@import '../../variables.scss';
@import '../../mixins.scss';


.featuredProducts {
    margin: 20px 0 40px;

    @include md {
        margin: 60px 0 50px;

    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 0;
        margin-bottom: 30px;

        h1 {
            flex: 2;
            text-transform: capitalize;
            font-weight: 600;
            text-align: center;
        }

        p {
            font-size: 14px;
            flex: 3;
            color: gray;
            text-align: center;

            @include md {
                text-align: start;
            }
        }
    }

    .products {
        display: flex;
        flex-basis: 210px;
        gap: 20px;



        @include max-breakpoint(map-get($breakpoints, "lg")) {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;


            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: 0;

            .category-card {
                scroll-snap-align: start;
            }
        }

        @include sm {}

        @include md {
            justify-content: center;
            width: 100%;
            max-width: 800px;
            margin-inline: auto;
        }


        .card {
            flex-grow: 1;
            /* Allow items to grow */
            flex-shrink: 0;
            /* Prevent items from shrinking */
            flex-basis: 150px;
        }
    }
}