@import '../../../variables.scss';
@import '../../../mixins.scss';


.billing-tab {
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;

    @include md {
        margin-bottom: unset;
    }

    .top {
        .tab-title {
            margin-bottom: 10px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;

            @include md {
                text-align: center;
            }
        }


        p {
            font-size: 14px;
            color: $darkGray;
            text-align: center;

            @include md {
                text-align: center;
            }

        }
    }

    .checkout {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @include md {}

        #error-message{
            font-size: 14px;
            color: $brightRed;
        }

        .option-item {
            display: flex;
            align-items: center;
            gap: 5px;

            .checkbox {
                width: 17px;
                height: 17px;
            }

            // &:hover {
            //     color: $brightRed;
            // }




            .text {
                font-size: 13px;
            }


        }
    }

    // .info {
    //     display: flex;
    //     flex-direction: column;


    //     .heading {
    //         margin-bottom: 10px;
    //         text-align: center;
    //         font-weight: 600;
    //         font-size: 15px;
    //         text-transform: uppercase;
    //     }

    //     img {
    //         width: 80%;
    //         margin: auto;
    //     }

    // }



    .reset {
        color: red;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
    }

    .secondary-action {
        color: $darkGray;
        text-align: center;
        font-size: 14px;
        text-decoration: underline;
        padding: 7px;

        &:hover {
            color: $deepCharcoal;
        }
    }

}