@import "../../../mixins.scss";
@import "../../../variables.scss";

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    min-height: 100vh;
    scrollbar-width: 0;
    padding-block: 20px;

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 90%;

        img {
            width: 130px;
            margin-bottom: 15px;
        }
        .heading {
            font-weight: 600;
            text-align: center;
        }
        p {
            font-size: 15px;
            color: $darkGray;
            text-align: center;
        }
    }
   


    .form-wrapper {
        // border-radius: 2px;
        width: 90%;
        max-width: 400px;

        @include sm {
            padding: 0;
            // background: #ffffff; // White form
            // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); // Soft shadow
            // border: 1px solid #e0e0e0;
        }
    }


    // Full height view
}