@import "../../../mixins.scss";
@import "../../../variables.scss";

.account-page {
  padding: 0;
  min-height: calc(100vh - $navbarHeight);
  background-color: $lighterGray;
  display: flex;



  .container-fluid {
    padding: 15px;
    display: flex;
    align-items: start;
    gap: 20px;
    height: 100%;
    max-width: 1100px;


    .dashboard-menu {
      border-radius: 8px;
      width: 300px;
      padding-inline: 15px;


      display: flex;
      flex-direction: column;
      // gap: 20px;
      background-color: white;
      height: 100%;
      flex-shrink: 0;

      @include md {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      .user-info {
        display: flex;
        // background-color: $lavendar;
        // flex-direction: column;
        padding-block: 15px;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        background-color: none;

        .profile-img {
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50px;
          width: 70px;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;


          .name {
            font-size: 17px;
            font-weight: 600;
          }

          .email {
            color: $darkGray;
            font-size: 12px;
          }
        }
      }

      hr {
        margin: 0;
        color: $darkGray;
      }

      .tabs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-block: 15px;


        // border-bottom: 1px solid lightgray;

        button {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 10px 15px;
          cursor: pointer;
          color: $darkGray;
          background: none;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;

          span {
            line-height: 24px;
            vertical-align: middle;
          }

          &:hover {
            background-color: $lighterGray;
          }
        }

        .active {
          background: $lighterGray;
          color: $azureRadBlue;
          font-weight: 500;
          // border-bottom: 3px solid black;
        }
      }
    }

    .tab-content {
      min-height: 100%;

      // display: none;
      @include md {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      .back-btn {
        display: none;
      }

      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      flex-grow: 1;
      display: flex;
    }
  }

  @include max-md {
    display: contents;

    .container-fluid {
      padding: 0;

      .dashboard-menu {
        width: 100%;
        padding: 0;


        .user-info {
          flex-direction: row;
          padding: 15px;

          .content {}

          // span {
          //   font-size: 24px;
          //   font-weight: 600;
          // }
        }

        .tabs {
          padding: 10px;
        }
      }

      .tab-content {
        display: none;
        padding: 12px;
        width: 100%;
        position: absolute;
        
        &.show {
          display: flex
        }

        flex-direction: column;
        gap: 25px;

        .back-btn {
          display: flex;
          align-items: center;
          font-size: 14px;
          text-decoration: underline;
          cursor: pointer;
        }

        
      }
    }
  }
}