@import '../../variables.scss';
@import '../../mixins.scss';

.form-component {
    display: flex;
    flex-direction: column;
    gap: 10px;


  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 15px;
    row-gap: 8px;

    @include md {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    }
  }

  

  .submit-btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: 100%;
  }

  
  & + div {
    padding-top: 2em;
  }

  button {
    margin: auto;
  }
}
