.list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    grid-gap: 12px;
    min-height: 200px;
}