@import '../../variables.scss';
@import '../../mixins.scss';


// MIXINS
@mixin image-is-background {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  text-decoration: none;


  .text,
  .link {
    color: white;
  }



  @include md {
    &:hover {
      .image .img {

        img {
          transform: scale(1.2);
          filter: brightness(90%)
            /* Zoom effect */
        }
      }
    }
  }


  .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;

    img {
      transition: transform 0.3s ease;
      /* Zoom effect */
    }
  }
}

.categories {
  margin-block: 30px;
  margin-inline: 0;




  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-template-areas:
      "dresses"
      "men"
      "kids"
      "accessories"
    ;
    gap: 5px;


    @include md {
      margin-inline: 12px;

      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(12, 50px);
      grid-template-areas:
        "dresses dresses dresses  men men men"
        "dresses dresses dresses  men men men"
        "dresses dresses dresses  men men men"
        "dresses dresses dresses  men men men"
        "dresses dresses dresses  men men men"
        "dresses dresses dresses accessories accessories accessories"
        "dresses dresses dresses accessories accessories accessories"
        "kids kids kids accessories accessories accessories"
        "kids kids kids accessories accessories accessories"
        "kids kids kids accessories accessories accessories"
        "kids kids kids accessories accessories accessories"
        "kids kids kids accessories accessories accessories"
      ;

      gap: 12px;
    }


    .category-card {

      display: flex;
      align-items: stretch;
      justify-content: space-between;
      background-color: $whiteSmoke;
      width: 100%;
      text-decoration: none;
      color: black;
      position: relative;
      z-index: 1;




      .content {
        @include flex-column;
        justify-content: center;
        padding: 15px;
        gap: 6px;


        @include md {
          gap: 13px;
          margin: 30px;
        }

        .text {
          @include flex-column;
          gap: 5px;

          p {
            display: none;
            font-size: 15px;
            color: $charcoal;
          }
        }

        .link {
          font-weight: 600;
          font-size: 14px;
          border-bottom: 2px solid $burgundy;
          padding-bottom: 3px;
          text-transform: uppercase;
          margin-right: auto;
        }
      }





      &.regular-category-card {
        .img {
          width: 50%;

          img {
            object-fit: contain;
          }
        }
      }

      &.dresses {
        grid-area: dresses;
        @include image-is-background;

      }

      &.men {
        grid-area: men;

        @include md {
          position: relative;

          .img {
            position: absolute;
            width: unset;
            right: 0;
            top: -60px;
          }
        }


      }

      &.accessories {
        grid-area: accessories;


        @include max-breakpoint(1199px) {
          @include image-is-background;
          background-color: rgba(0, 0, 0, 0.4);

        }
      }

      &.kids {
        grid-area: kids;

        @include max-breakpoint(767px) {
          flex-direction: row-reverse;
          justify-content: space-around;
        }

      }
    }



    @include max-breakpoint(map-get($breakpoints, "lg")) {}
  }
}