@import "../../../../mixins.scss";
@import "../../../../variables.scss";

.order-tab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-size: 15px;

  .heading {
    display: flex;
    align-items: center;
    gap: 10px;

    .dynamic-title {

    }

    .quantity {
      padding: 4px 10px;
      text-align: center;
      font-size: 14px;
      background-color: $lighterGray;
      border-radius: 10px;
      font-weight: 500;
    }
  }

  @include md {
    padding: 20px;
  }

  .filters {
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    max-width: max-content;


    .filters-wrapper {
      padding: 4px;
      background-color: $lighterGray;
      display: flex;
      flex-wrap: nowrap;
      width: max-content;

      .filter-item {
        padding: 7px 15px;
        font-weight: 500;
        font-size: 14px;
        color: $darkGray;
        transition: all .2s ease;
        cursor: pointer;


        &.active {
          color: black;
          background-color: white;
          border-radius: 8px;
          padding-inline: 30px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
      }
    }
  }

  .order-tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .order-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      overflow: hidden;

      .order-item-header {
        display: flex;
        background-color: $lighterGray;
        padding: 10px;
        gap: 20px;
        border-bottom: 1px solid $lightGray;


        .status {
          font-size: 13px;

          &.ordered {
            color: black;
          }

          &.shipped {
            color: blue;
          }

          &.delivered {
            color: green;
          }

          &.pending {
            color: $warningYellow;
          }
        }

        .header-item {
          display: flex;
          flex-direction: column;

          .header-item-label {
            color: $darkGray;
            font-size: 14px;
            font-weight: 400;
          }

          .header-item-value {
            font-weight: 500;
            font-size: 14px;


          }
        }

        .view-details {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: end;

          .order-number {
            display: flex;
            gap: 10px;
            font-size: 14px;
            color: $charcoal;
            font-weight: 500;
            margin-right: 2px;
          }

          a {
            font-size: 14px;
          }
        }


      }

      .order-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;


        .order-items {
          display: flex;
          flex-direction: column;

          .checkout-item {
            .img-wrapper {
              .img {
                background-color: $lighterGray;
              }
            }
          }
        }

        .summary {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          gap: 15px;


          .eta {
            display: flex;
            flex-direction: column;

            .label {
              color: $darkGray;
            }

            .value {
              font-weight: 500;
            }
          }

          .order-actions {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;




            button {
              padding: 0.5rem 1rem;
              border-radius: 8px;
              height: unset;
            }
          }
        }

        @include xs {
          .order-items {
            .order-item {
              .img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }

        @include sm {
          .summary {
            flex-direction: row;
            align-items: center;

            .order-actions {
              margin-left: auto;
              flex-direction: row;
            }
          }

          .order-items {
            .order-item {
              .img {
                width: 70px;
                height: 70px;
              }
            }
          }

          .order-items {
            flex-grow: 1;
          }
        }

        @include md {
          .summary {
            align-items: stretch;
            flex-direction: column;

            .order-actions {
              align-items: stretch;
              margin: 0;
            }
          }
        }

        @include lg {
          .summary {
            flex-direction: row;
            gap: 30px;

            .order-actions {
              margin-left: auto;

            }
          }

        }





      }


    }
  }
}