@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../variables.scss';
@import '../../mixins.scss';

.home {
    overflow: hidden;

    .hero {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-end;
        background-color: $gray94;


        @include max-breakpoint(575px) {
      
            aspect-ratio: 16/9;

        }

        @include xs-landscape {
            height: calc(100vh - $navbarHeight );
        }

        @include md {
            height: calc(40vh - $navbarHeight );
            align-items: center;
        }

        @include md-landscape {
            height: calc(100vh - $navbarHeight );
        }

        @include lg-landscape {
            height: calc(100vh - $navbarHeight );
        }

        @include xl {
            height: calc(100vh - $navbarHeight);
        }

        @include xl-landscape {
            // height: calc(80vh - $navbarHeight);
        }





        .container-fluid {
            height: 100%;
            display: flex;
            position: relative; //Because of making blob go behind it

            .row {
                padding: 0;
                margin: 0;
                align-items: center;


                height: 100%;

                .content {
                    // position: absolute;
                    // bottom: 30px;
                    // left: 0;
                    @include flex-column;


                    gap: 10px;



                    @include lg {
                        gap: 20px;
                    }




                    .top {
                        p {
                            font-weight: 800;
                            font-size: 10px;
                            text-wrap: wrap;
                            line-height: 1.2;

                            @include md {
                                font-weight: 800;
                                font-size: 13px;
                            }
                        }

                        padding-block: 5px;
                        padding-left: 11px;
                        border-left: 3px solid #000;

                        @include sm {
                            font-size: 13px;
                            padding-block: 7px;
                        }
                    }

                    h1 {

                        vertical-align: baseline;
                        color: $charcoal;
                        font-weight: 300;
                        font-size: clamp(10px, 7vw, 65px);

                        text-transform: uppercase;
                        line-height: 1;

                        @include xs-landscape {
                            font-size: clamp(18px, 10vw, 30px);
                        }



                        @include md-landscape {
                            font-size: clamp(24px, 7vw, 85px);
                        }

                        span.deedi {
                            color: $burgundy;
                            font-weight: 500;

                        }

                        span.weave-hope {
                            font-weight: 600;
                            color: #000;
                        }
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 15px;


                        .btn-1 {
                            @include md {
                                padding: 15px 45px;
                            }
                        }
                    }


                }

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin-top: auto;
                    position: relative;


                    .img img {
                        height: 100%;
                        object-fit: contain;
                    }

                    .img .image-placeholder {
                        background-color: transparent;
                    }








                }
            }
        }

        .blob-1 {
            display: none;

            @include sm {
                display: block;
                position: absolute;
                bottom: -50px;
                left: -90px;
                width: 30%;
                object-fit: contain;
                opacity: 0.1;
                
            }

            @include md {
                bottom: -50px;
                left: -90px;
                width: 18%;
            }

        }

        .blob-2 {
            position: absolute;
            width: 100%;
        
            object-fit: cover;
            opacity: 0.05;

            @include sm {
                
                width: 70%;
            }
        }



    }


}