@import '../../variables.scss';
@import '../../mixins.scss';


.card {
    display: flex;
    text-decoration: none;
    // background-color: $lighterGray;
    flex-direction: column;

    gap: 12px;
    overflow: hidden;
    border: none;
    scroll-snap-align: start;
    background-color: transparent;
    /* Optional: for scroll snapping */




    .image {
        aspect-ratio: 4/5;

        overflow: hidden;
        position: relative;
        border-radius: 10px;

        .img {
            background-color: darken($lighterGray, 1%);
            position: absolute !important;
            top: 0;
            left: 0;
            z-index: 1;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .secondImg {

            display: none !important;
            background-color: darken($lighterGray, 1%);
            position: absolute !important;
            top: 0;
            left: 0;
        }

        @include md {
            &:hover {
                .secondImg {
                    display: block !important;
                    z-index: 2;
                }
            }
        }


        // .mainImg {
        //     z-index: 1;
        // }

        span.new-season {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #fff;
            color: teal;
            padding: 3px 5px;
            z-index: 3;
            font-weight: 500;
            font-size: 11px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;

        .product-title {
            font-size: 17px;
            font-weight: 600;
            width: 100%;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        .prices {
            display: flex;
            align-items: center;
            gap: 5px;

            h3 {
                vertical-align: middle;
            }

            .price {
                color: gray;
                text-decoration: line-through;
                font-size: 15px;

            }

            .discountedPrice {
                font-size: 16px;
                font-weight: 600;
                color: $charcoal;
            }


        }
    }

}