@import '../../variables.scss';
@import '../../mixins.scss';


.card {
    display: flex;
    text-decoration: none;
    // background-color: $lighterGray;
    flex-direction: column;
    border-radius: 0;

    gap: 10px;
    overflow: hidden;
    border: none;
    scroll-snap-align: start;
    /* Optional: for scroll snapping */




    .image {
        aspect-ratio: 4/5;

        overflow: hidden;
        position: relative;
        border-radius: 3px;

        .img {
            background-color: darken($lighterGray, 1%);
            position: absolute !important;
            top: 0;
            left: 0;
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .secondImg {
            display: none !important;
            background-color: darken($lighterGray, 3%);
            position: absolute !important;
            top: 0;
            left: 0;
        }

        @include md {
            &:hover {
                .secondImg {
                    display: block !important;
                    z-index: 2;
                }
            }
        }


        .mainImg {
            z-index: 1;
        }

        span.new-season {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #fff;
            color: teal;
            padding: 3px 5px;
            z-index: 3;
            font-weight: 500;
            font-size: 11px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .prices {
        display: flex;
        gap: 15px;

        h3 {
            font-size: 18px;
            font-weight: 500;

            &:first-child {
                color: gray;
                text-decoration: line-through;
            }

        }
    }

}