@import '../../variables.scss';
@import '../../mixins.scss';

.input-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;


    .label {
        font-weight: 600;
    }

    &.text-area {
        grid-column: 1 / -1;
    }


    input,
    select,
    textarea {
        padding: 8px 15px;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        // background-color: $lighterGray;
        border: 1px solid $lightGray;
        outline: none;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
            border-color: black;
        }

        &.input-error {
            outline: none !important;
            border-color: #fc8181 !important;
        }
    }

    .error-message-container {
        color: #fc8181;
        font-size: 12px;
        width: 100%;
        text-align: start;
        min-height: 18px;
    }
}