@import '../../variables.scss';
@import '../../mixins.scss';

.input-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;


    .label {
        font-weight: 600;
    }

    &.textarea {
        grid-column: 1 / -1;
    }

    .inputField {
        padding: 10px ;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        // background-color: $lighterGray;
        border: 1px solid $lightGray;
        outline: none;
        border-radius: 8px;

        &:focus-visible {
            outline: none;
            border-color: black;
        }

        &.input-error {
            outline: none !important;
            border-color: #fc8181 !important;
        }

        &.country-input-field {
            padding: 0;
        }

        .placeholder{
            background-color: $lightGray;
            color: black;

            &:focus {
                display: none;
            }

            &:active {
                display: none;
            }
        }
    }

    &.addressLine {
        grid-column: 1 / -1;
    }

    .error-message-container {
        color: #fc8181;
        font-size: 12px;
        width: 100%;
        text-align: start;
        min-height: 18px;
    }
}