@import '../../variables.scss';
@import '../../mixins.scss';

.product-page {
    .container-fluid {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;

        @include md {
            flex-direction: row;
            gap: 50px;
            padding: 30px 12px;
            max-width: 1100px;
        }


        .images-wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: relative;

            @include md {
                gap: 10px;

                height: 80vh;
                width: 50%;
                flex-direction: row-reverse;
                position: sticky;
                top: calc($navbarHeight + 20px);
                flex: 1;
            }


            .thumbnail-images {
                display: flex;
                gap: 5px;

                // Special Rules for mobile to make thumbnail images scrollable horizontally
                @include max-md {
                    margin-inline: 5px;

                    overflow-x: scroll;

                    -webkit-overflow-scrolling: touch;
                    scroll-snap-type: x mandatory;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    -ms-overflow-style: none;
                    scrollbar-width: 0;

                }

                @include md {
                    gap: 10px;
                    flex-direction: column;
                }

                .thumbnail-wrapper {
                    scroll-snap-align: start;
                    background-color: $lighterGray;

                    flex-shrink: 0;
                    width: 65px;
                    height: 70px;
                    border-radius: 3px;
                    border: 1px solid transparent;
                    cursor: pointer;

                    &:hover {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: " ";
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background: rgba(17, 17, 17, 0.15);
                        }
                    }

                    &.selected {
                        background-color: $lighterGray;
                        position: relative;

                        &::after {
                            position: absolute;
                            content: " ";
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background: rgba(17, 17, 17, 0.15);
                        }
                    }


                    .thumbnail {
                        cursor: pointer;

                        img {
                            object-fit: contain;
                            object-position: top;
                        }
                    }
                }
            }

            .mainImg {
                background-color: $lighterGray;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* Adjust values as needed */

                height: 300px;
                overflow: hidden;

                .img {
                    img {
                        object-fit: contain;

                    }
                }

                @include md {
                    border-radius: 3px;
                    flex-grow: 1;
                    height: 60%;

                    .img {
                        img {
                            // object-fit: cover;
                            // object-position: top;

                        }
                    }
                }

                @include lg {
                    height: 80%;

                }

                @include xl {
                    height: calc(100vh - $navbarHeight - 30px - 15px);
                }


            }
        }


        .right {
            display: flex;
            flex-direction: column;
            padding-inline: 12px;
            
            @include md {
                padding-left: 60px;
            }


            .section {
                padding-block: 15px;
                border-bottom: 1px solid $lightGray;

                &.heading {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    @include md {
                        padding-top: 0;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    .category {
                        color: $darkGray;
                    }


                    .prices {
                        margin-top: 8px;
                        display: flex;
                        align-items: flex-start;
                        gap: 5px;


                        .price,
                        .discountedPrice {
                            line-height: 1;
                        }

                        .price {
                            color: gray;
                            text-decoration: line-through;
                            font-size: 15px;
                            font-weight: 300;
                            vertical-align: middle;
                        }

                        .discountedPrice {
                            font-size: 24px;
                            font-weight: 600;
                            color: $charcoal;
                            vertical-align: middle;
                        }


                    }

                }

                &.filters {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                    .filter-item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .title {
                            color: $darkGray;
                            font-size: 15px;
                        }


                        .options {
                            display: flex;
                            gap: 10px;
                        }

                        .error {
                            color: red;
                            font-size: 14px;
                            display: none;

                            &.showError {
                                display: inline-block;
                            }
                        }

                        &.sizes {
                            .options {
                                .option {
                                    padding: 10px 15px;
                                    text-transform: uppercase;
                                    border: 1px solid $lightGray;
                                    border-radius: 8px;
                                    text-align: center;
                                    vertical-align: middle;
                                    font-size: 14px;
                                    font-weight: 500;
                                    cursor: pointer;
                                    transition: .3s ease all;

                                    &:hover {
                                        border: 1px solid $deepCharcoal;
                                    }

                                    &.active {
                                        background-color: $deepCharcoal;
                                        color: $offWhite;
                                    }

                                    &.out-of-stock {}
                                }
                            }
                        }

                        &.colors {


                            .options {
                                align-items: center;

                                .option {
                                    height: 35px;
                                    width: 35px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    padding: 6px;

                                    &.active {
                                        border: 2px solid $deepCharcoal;

                                    }


                                    span {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        border-radius: 50%;


                                    }

                                    &.burgundy span {
                                        background-color: $burgundy;
                                    }

                                    &.gray span {
                                        background-color: $mediumGray;
                                    }

                                    &.black span {
                                        background-color: black;
                                    }

                                    &.green span {
                                        background-color: green;
                                    }


                                }
                            }

                        }
                    }
                }

                &.add-to-cart {
                    display: flex;
                    flex-direction: column;
                    padding-block: 20px;
                    gap: 20px;

                    .quantity {
                        // display: none;
                        display: flex;
                        align-items: center;
                        gap: 12px;



                        .no-of-items {
                            width: 15px;
                            text-align: center;
                        }


                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            border: none;
                            color: $deepCharcoal;
                            width: 50px;
                            height: 50px;
                            border-radius: 5px;
                            
                            span {
                                font-size: 25px;
                            }

                            &:hover {
                                background-color: $lightGray;
                              }
                            
                              // Active state: change the background color and add a pressed effect
                              &:active {
                                // background-color: $lightGray;
                                transform: scale(0.98); // Slightly reduce size to simulate a press
                              }
                            
                              // Focus state: outline to indicate the button is focused
                            //   &:focus {
                            //     outline: 2px solid $darkGray; // Green outline
                            //     outline-offset: 2px;
                            //   }

                        }
                    }

                        .out-of-stock {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            span {
                                color: $brightRed;
                            }

                            input {
                                border: none;
                                border-bottom: 1px solid $darkGray;
                                padding: 5px;
                            }
                        }
                        .message {
                            &.urgent {
                                color: $brightRed;
                            }
                        }

                    .add {
                        // width: 250px;
                        // padding: 10px;
                        // background-color: #93703f;
                        // color: white;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // gap: 15px;
                        // cursor: pointer;
                        // border: none;
                        // font-weight: 500;

                        // &:hover {
                        //     background-color: #D3B484;
                        //     transition: all 0.1s ease-in;
                        // }


                        // padding: 15px 20px;
                        border-radius: 8px;

                        // &.out-of-stock {
                        //     background-color: $darkGray;
                        // }
                        // font-size: 14px;
                    }



                    .add-to-wishlist {
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // gap: 10px;
                        // border: 1px solid $deepCharcoal;
                        // padding: 15px 20px;
                        // border-radius: 8px;
                        font-weight: 600;
                        // span {
                        //     vertical-align: middle;
                        //     font-size: 14px;
                        // }
                    }

                }

            }


            // p {
            //     font-size: 18px;
            //     font-weight: 300;
            //     text-align: justify;
            // }





            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 10px;
                color: $darkGray;
                font-size: 15px;
                margin-top: 30px;
                text-align: left;

                .product-type {
                    .subCategory {
                        text-transform: capitalize;
                    }
                }



            }



        }
    }




}