@import "../../../../mixins.scss";
@import "../../../../variables.scss";

.profile-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

    h4 {
        color: black;
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: 20px;

            @include md {
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            }
        }

        .cta-button {
            margin-left: auto;
            width: 120px;
            border-radius: 5px;
        }
    }

    
}