@import '../../variables.scss';
@import '../../mixins.scss';

.cart-page {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .container-fluid {
        display: flex;
        justify-content: space-evenly;


        .row {
            align-items: flex-start;

            .cart-body {
                padding-block: 30px;

                display: flex;
                flex-direction: column;
                gap: 20px;

                .top {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .heading {
                        font-size: 21px;
                        font-weight: 700;
                    }

                    .total {
                        padding-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 500;
                        font-size: 15px;
                        border-bottom: 1px solid $lightGray;

                        .amount {
                            font-weight: 600;
                        }
                    }
                }

                .products {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .item {
                        display: flex;
                        align-items: flex-start;
                        gap: 5px;


                        .left {
                            display: flex;
                            gap: 12px;
                            text-decoration: none;
                            color: unset;

                            .img {
                                background-color: $lighterGray;

                                width: 120px;
                                height: 150px;
                                padding: 5px;

                                img {
                                    object-fit: contain;
                                }
                            }

                            .details {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;

                                .title {
                                    margin-top: 0;
                                    font-size: 18px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin-bottom: 8px;

                                }

                                p {
                                    color: gray;
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                .bottom {
                                    display: flex;
                                    flex-direction: column;

                                    span {
                                        font-weight: 400;
                                        font-size: 13px;

                                        &.size {
                                            text-transform: uppercase;

                                        }

                                        &.price {
                                            font-weight: 600;
                                            font-size: 16px;
                                        }
                                    }

                                }
                            }
                        }

                        .delete {
                            cursor: pointer;
                            font-size: 20px;
                            margin-left: auto;
                        }
                    }

                    .list-empty {
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }



            .checkout-component {
                padding-block: 30px;


                @include md {
                    position: sticky;
                    top: calc($navbarHeight );
                    height: calc(100vh - $navbarHeight );
                    padding-left: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .actions {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button {
                        // padding: 10px;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // gap: 20px;
                        // cursor: pointer;
                        // border: none;
                        // background-color: #93703F;
                        // color: white;
                        // font-weight: 500;
                        border-radius: 3px;
                    }

                    .reset {
                        color: red;
                        font-size: 12px;
                        cursor: pointer;
                        text-align: center;
                    }

                    .view-cart {
                        color: $darkGray;
                        text-align: center;
                        font-size: 14px;
                        text-decoration: underline;
                        padding: 7px;

                        &:hover {
                            color: $deepCharcoal;
                        }
                    }
                }
            }
        }
    }


}