@import '../../variables.scss';
@import '../../mixins.scss';

.checkout-page {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .container-fluid {
        display: flex;
        justify-content: space-evenly;
        padding: 0;

        .row {
            align-items: flex-start;

            .tabs {
                display: flex;
                flex-direction: column;
                padding: 20px 12px;

                // .heading {
                //     margin-bottom: 10px;
                //     text-align: center;
                //     font-size: 24px;
                //     font-weight: 700;

                //     @include md {
                //         text-align: start;
                //     }
                // }

            }



            .order-summary {

                @include md {
                    padding: 12px 30px 12px;
                }

                .wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 10px;
                    gap: 10px;


                    @include md {
                        padding-left: 40px;
                        gap: 20px;
                        justify-content: flex-start;

                    }

                    .top {
                        display: flex;
                        flex-direction: column;


                        .order-total {
                            border-radius: 10px;
                            background-color: $lighterGray;
                            padding: 30px;

                            .heading {
                                margin-bottom: 10px;
                                text-align: center;
                                font-size: 24px;
                                font-weight: 700;

                                @include md {
                                    text-align: start;
                                }
                            }

                            .summary-items {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                background-color: $lighterGray;




                                .summary-item {
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 14px;
                                    font-weight: 500;

                                    &.total {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    .checkout-items {

                        display: flex;
                        flex-direction: column;

                        .top {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 10px;


                            @include md {
                                align-items: flex-start;
                            }

                            .heading {
                                font-size: 17px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 14px;
                                color: $darkGray;
                                padding-bottom: 20px;
                                text-align: center;

                                @include md {
                                    width: 70%;
                                    text-align: start;
                                }

                            }
                        }

                        .products {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            .item {
                                display: flex;
                                align-items: flex-start;
                                gap: 10px;
                                padding: 20px;
                                border-radius: 20px;
                                border: 1px solid $lightGray;


                                .left {
                                    display: flex;
                                    gap: 12px;
                                    text-decoration: none;
                                    color: unset;

                                    .img {
                                        background-color: $lighterGray;
                                        border-radius: 10px;
                                        border: 1px solid $lightGray;
                                        width: 80px;
                                        height: 80px;
                                        padding: 5px;

                                        img {
                                            object-fit: contain;
                                        }
                                    }

                                    .details {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: stretch;

                                        .title {
                                            margin-top: 0;
                                            font-size: 17px;
                                            font-weight: 600;
                                            // text-transform: uppercase;
                                            margin-bottom: 8px;

                                        }

                                        p {
                                            color: gray;
                                            margin-bottom: 10px;
                                            font-size: 14px;
                                        }

                                        .bottom {
                                            display: flex;
                                            flex-direction: column;
                                            margin-top: auto;

                                            span {
                                                font-weight: 400;
                                                font-size: 13px;

                                                &.size {
                                                    text-transform: uppercase;

                                                }



                                                &.amount {
                                                    color: black;
                                                    font-weight: 500;
                                                    font-size: 16px;
                                                }
                                            }

                                        }
                                    }
                                }


                                .quantity {
                                    font-size: 13px;
                                    text-transform: uppercase;
                                    margin-left: auto;
                                    text-wrap: nowrap;
                                }
                            }

                            .list-empty {
                                height: 200px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 20px;


                                span {
                                    text-align: center;
                                    vertical-align: middle;
                                    font-size: 15px;
                                }

                                .btn-1 {
                                    font-size: 13px;
                                    font-weight: 600;
                                }

                                // font-weight: 500;
                            }
                        }
                    }

                }




            }
        }
    }


}