@import '../../variables.scss';
@import '../../mixins.scss';

.navbar {
    height: $navbarHeight;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    background-color: $offWhite;
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.1); // Soft shadow


    .container-fluid {
        align-items: stretch;

        .item {

            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 500;
        }

        .left {
            display: flex;
            align-items: center;

            .collapse-menu-brand {
                display: none;

                img {
                    height: 70px;
                }
            }

            .toggle {
                @include lg {
                    display: none;
                }
            }


            .nav-items {
                display: flex;
                gap: 30px;

                .top {
                    display: none;
                }


                @include max-breakpoint(991px) {
                    display: none;
                    @include flex-column;
                    height: calc(100vh);
                    width: 60vw;
                    min-width: 200px;
                    position: absolute;
                    left: -100%;
                    top: 0;
                    padding: 10px 20px;
                    background-color: rgba(225, 225, 225, 0.5);
                    -webkit-backdrop-filter: blur(20px);
                    backdrop-filter: blur(20px);
                    transition: left 0.5s ease;

                    // box-shadow: -10px, 0, 10px rgba(0, 0, 0, 0.1);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    .top {
                        @include flex-row;
                        align-items: center;
                        justify-content: space-between;

                        .collapse-menu-brand {
                            display: block;

                        }

                        .close {
                            display: block;
                            right: 20px;
                            top: 20px
                        }
                    }

                    &.show {
                        left: 0;
                    }
                }
            }
        }

        .center {

            // margin-left: auto;
            // margin-right: auto;
            .brand {
                img {
                    height: 50px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;


            .icons {
                display: flex;
                height: 100%;
                gap: 15px;
                color: #464545;
                align-items: center;

                .searchbar {
                    background-color: white;
                    // border: 2px solid $lightGray;
                    padding: 4px;
                    border-radius: 10px;

                    display: none;

                    @include lg {
                        display: flex;
                    }

                    input {
                        border: none;
                        background-color: transparent;
                        width: 60%;
                    }

                    .search-icon {
                        margin-left: auto;
                        color: $darkGray;
                        cursor: pointer;

                    }
                }

                .user {
                    // display: none;
                    position: relative;
                    height: 100%;
                    display: flex;
                    align-items: center;


                    .summary {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        cursor: pointer;

                        .user-icon {

                            .user-image {
                                width: 30px;
                                height: 30px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }

                        .user-info {
                            @include max-md {
                                display: none;
                            }

                            span {
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-left: 5px;
                            }
                        }
                    }

                    .user-dropdown {
                        display: none;
                        min-width: 210px;
                        position: absolute;
                        left: 50%;
                        top: 35px;
                        padding-top: 30px;
                        transform: translate(-50%);

                        .wrapper {
                            border-radius: 5px;
                            background-color: white;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            flex-direction: column;
                            display: flex;
                            overflow: hidden;
                        }

                        // border-bottom: 1px solid lightgray;

                        .dropdown-item {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 9px 15px;
                            cursor: pointer;
                            color: $darkGray;
                            background: none;
                            border: none;


                            &:not(:last-child) {
                                border-bottom: 1px solid $lightGray;
                            }

                            span {
                                line-height: 24px;
                                font-size: 13px;
                                font-weight: 500;
                                vertical-align: middle;
                            }

                            &:hover {
                                background-color: $lighterGray;
                            }

                            &.active {
                                color: $azureRadBlue;
                                background-color: $lighterGray;

                            }

                            
                        }

                        &.nav-login-form {
                            min-width: 350px;
                            left: 0;

                            .wrapper {
                                padding: 15px;

                            }
                        }

                        .active {
                            background: $lighterGray;
                            color: #007BFF;
                            font-weight: 500;
                            // border-bottom: 3px solid black;
                        }


                    }





                    &:hover {
                        .user-dropdown {
                            @include md {
                                display: block;
                            }
                        }
                    }


                }

                .cartIcon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 5px;

                    .noOfItems {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: -10px;
                        top: -8px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #FF4B5C;


                        span {
                            vertical-align: middle;
                            color: white;
                            font-size: 11px;

                        }
                    }
                }
            }
        }
    }

    &.in-checkout-page {
        .container-fluid {
            justify-content: space-between;
            max-width: unset;

            .left,
            .right {
                display: none;
            }

            .visible-in-checkout-page {
                display: flex;
                gap: 10px;
                align-items: center;

                .secure-checkout {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    p {
                        margin-top: 2.5px;
                        line-height: 24px;
                        font-size: 15px;
                        font-weight: 600;
                        vertical-align: middle;
                    }
                }
            }


        }

    }
}