.navbar {
    height: 60px;
    display: flex;
    padding: 0 25px;


    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .item {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 500;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center {
            // margin-left: auto;
            // margin-right: auto;
            .link {
                img {
                    height: 50px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;
            

            .icons {
                display: flex;
                gap: 15px;
                color: #464545;
                align-items: center;

                cursor: pointer;    

                .cartIcon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    span {
                        font-size: 11px;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        background-color: #2979fe;
                        color: white;
                        position: absolute;
                        right: -7px;
                        top: -7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }


}