@import '../../variables.scss';
@import '../../mixins.scss';

.navbar {
    height: $navbarHeight;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: flex;
    padding: 0 15px;


    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;


        .item {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 500;
        }

        .left {
            display: flex;
            align-items: center;

            .toggle {
                @include md {
                    display: none;
                }
            }


            .nav-items {
                display: none;

                @include md {
                    display: flex;
                    gap: 20px;
                }
            }
        }

        .center {

            // margin-left: auto;
            // margin-right: auto;
            .link {
                img {
                    height: 50px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;


            .icons {
                display: flex;
                gap: 15px;
                color: #464545;
                align-items: center;
                cursor: pointer;

                .searchbar {
                    background-color: #F0F0F0;
                    padding: 7px;
                    border-radius: 50%;
                    display: none;

                    @include md {
                        display: flex;
                    }

                    input {
                        border: none;
                        background-color: transparent;
                        width: 80%;
                    }

                    .search-icon {
                        margin-left: auto;
                    }
                }

                .user {
                    align-items: center;
                    display: none;

                    @include md {
                        display: flex;
                    }

                    span {
                        font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-left: 5px;


                    }


                }

                .cartIcon {
                    position: relative;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 11px;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        background-color: #FF4B5C;
                        color: white;
                        position: absolute;
                        right: -7px;
                        top: -7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    &.scrolled {
        background-color: $charcoal;

        .link {
            color: $lightGray;
        }

        .icon {
            color: $lightGray;

            &.search-icon{
                color: $charcoal;
            }
        }

        

        .right .user span {
            color: $lightGray;
        }
    }


}


// .navbar {
//     height: 60px;
//     display: flex;
//     padding: 0 25px;


//     .wrapper {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;

//         .item {
//             display: flex;
//             align-items: center;
//             font-size: 15px;
//             font-weight: 500;
//         }

//         .left {
//             display: flex;
//             align-items: center;
//             gap: 25px;
//         }

//         .center {
//             // margin-left: auto;
//             // margin-right: auto;
//             .link {
//                 img {
//                     height: 50px;
//                 }
//             }
//         }

//         .right {
//             display: flex;
//             align-items: center;
//             gap: 25px;


//             .icons {
//                 display: flex;
//                 gap: 15px;
//                 color: #464545;
//                 align-items: center;

//                 cursor: pointer;    

//                 .cartIcon {
//                     position: relative;
//                     display: flex;
//                     align-items: center;

//                     span {
//                         font-size: 11px;
//                         width: 17px;
//                         height: 17px;
//                         border-radius: 50%;
//                         background-color: #2979fe;
//                         color: white;
//                         position: absolute;
//                         right: -7px;
//                         top: -7px;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                     }
//                 }
//             }
//         }
//     }


// }