@import '../../variables.scss';
@import '../../mixins.scss';

.courier-selection-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top {
        .tab-title {
            margin-bottom: 10px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;

            @include md {
                text-align: center;
            }
        }


        p {
            font-size: 14px;
            color: $darkGray;
            text-align: center;

            @include md {
                text-align: center;
            }

        }
    }

    form.selectCourierOptions {
        display: flex;
        flex-direction: column;
        gap: 30px;


        .recommended {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .heading {
                display: flex;
                justify-content: space-between;

                .title {
                    font-weight: 500;
                    font-size: 14px;
                }

                .view-all {
                    font-size: 13px;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;


                    &:hover, &.underlined {
                        border-bottom: 1px solid $deepCharcoal;
                    }
                }
            }
        }

        .others {
            display: none;
            flex-direction: column;
            gap: 10px;

            &.show {
                display: flex;
            }

            .heading {
                display: flex;
                justify-content: space-between;

                .title {
                    font-weight: 500;
                    font-size: 14px;
                }

                .view-all {
                    font-size: 13px;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;


                    &:hover {
                        border-bottom: 1px solid $deepCharcoal;
                    }
                }
            }
        }

        .submit-btn {
            width: 100%;
            border-radius: 8px;
        }

    }


}