.password-field {
    display: flex;
    justify-content: space-between;
    padding-block: 2px !important;
    gap: 5px;

    input {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding-block: 6px !important;
    }

    .toggle {
        padding: 0;
    }
}