.products {
    padding: 30px 50px;
    display: flex;


    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                label {
                    margin-left: 10px;
                }
            }
        }
    }

    .right {
        flex: 3;
        position: relative;
        flex-direction: column;
        display: flex;
        gap: 20px;

        
        .catImgWrapper {
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 40px;
        }

        .catImg {
            object-fit: cover;
            border-radius: 10px;
            height: 260px;
        }
    }
}