@import '../../variables.scss';
@import '../../mixins.scss';

.product-list-page {
    // padding: 30px 50px;
    display: flex;

    @include max-md {
        &.filter-is-visible {
            height: calc(100vh - $navbarHeight);
            overflow: hidden;
        }
    }

    .container-fluid {
        display: flex;
        padding: 0;

        align-items: flex-start;

        @include max-md {
            position: relative;
        }


        .filters-wrapper {
            position: sticky;
            top: calc($navbarHeight + 20px);
            flex: 1;
            margin-top: 20px;

            .apply-btn {
                display: none;
                padding: 15px;
                margin: 10px;
                background-color: $lightGray;
                color: $darkGray;
                font-weight: 500;

                &.activated {
                    color: white;
                    background: #212121;
                }

                &.deactivated {
                    border: none;
                }
            }

            @include max-md {
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                right: -100%;
                margin-top: 0px;
                z-index: 10;
                background-color: $offWhite;
                transition: left 0.5s ease;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .apply-btn {
                    display: block;
                }


                &.show {
                    right: 0;
                    transition: left 0.5s ease;
                }
            }

            .filters {
                padding: 12px;
                overflow-y: auto;

                .heading-mobile-only {
                    display: none;
                }




                @include max-md {
                    display: flex;
                    flex-direction: column;
                    height: 100vh;



                    .heading-mobile-only {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }


                }

                .filterItem {
                    margin-bottom: 30px;

                    .filterTitle {
                        font-weight: 500;
                        margin-bottom: 20px;
                    }

                    .inputItem {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        label {
                            margin-left: 10px;
                        }
                    }

                    &.price {
                        .inputItem{
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        .products {
            flex: 3;
            position: relative;
            flex-direction: column;
            display: flex;
            padding: 12px;
            margin-top: 20px;

            gap: 20px;

            .top {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 3;
                justify-content: space-between;

                .no-of-products {
                    color: $darkGray;
                    font-size: 15px;
                }

                .filter-toggle-btn {
                    display: flex;
                    font-size: 14px;
                    gap: 10px;
                    padding: 5px 18px;
                    border: 1px solid $mediumGray;
                    border-radius: 25px;


                    @include md {
                        display: none;

                    }
                }



                // .catImgWrapper {
                //     overflow: hidden;
                //     border-radius: 10px;
                //     margin-bottom: 40px;
                // }

                // .catImg {
                //     object-fit: cover;
                //     border-radius: 10px;
                //     height: 260px;
                // }
            }
        }
    }
}