$offWhite: #FAF9F6;
$whiteSmoke: #F5F5F5;

$veryLightGray: #F0F0F0;
$lighterGray: #F5F5F5;
$lightGray: #E0E0E0;

$mediumGray: #B0B0B0;
$darkGray: #707070;
$charcoal:  #343A40;


$brightRed: #FF4B5C;
$burgundy: #800020;





// constants
$navbarHeight: 70px;




