$lightbrown: #D3B484;
$darkbrown: #93703f;
$ligthGray: #dbdbdc;
$darkGray: #8c8778;
$blue:#2d4772;

:export {
    darkbrown: $darkbrown;
    lightbrown: $lightbrown;
    lightGray: $ligthGray;
    darkGray: $darkGray;
    blue: $blue

}