$offWhite: #F8F9FA;
$lighterGray: #F5F5F5;
$lightGray: #E0E0E0;
$mediumGray: #B0B0B0;
$darkGray: #707070;
$charcoal:  #343A40;

$brightRed: #FF4B5C;
$brightBlue: #007BFF;
$brightGreen: #28A745;
$brightOrange:#FF851B;
$brightYellow: #FFC107;



// constants
$navbarHeight: 70px;




